{% extends 'base.html' %}
{% block body %}
{% if user.is_authenticated %}
    <div class="container mt-5 pt-5">
        <h1>You must be logged out to perform this action!</h1>
        <a class="btn btn-info mb-5" href="{% url 'home' %}">Return Home</a><br>
        <a class="btn btn-danger" href="{% url 'logout' %}">Log Out</a>
    </div>
{% else %}
<div class="container bubble mb-5">
    <h1>Create Account</h1>
    <p><i>Username and password are case-sensitive</i></p><br>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'form-template.html' %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
    <i>Already have an account? Click <a href="{% url 'login' %}">here</a> to login!</i>
</div>
{% endif %}
{% endblock %}