<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Theater Scheduler</title>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body style="text-align: left;">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topnavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'getdata:home' %}">Home</a>&nbsp;
            </div>
            {% if user.is_authenticated %}
            {% if user.groups.all.last.name == 'Company' %}
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="{% url 'getdata:profile' %}" aria-hidden="true">View Profile</a>&nbsp;
                    </li>
                    <li class="">
                        <a href="{% url 'getdata:call-add' %}" aria-hidden="true">Create a Schedule</a>&nbsp;
                    </li>
                    <li class="">
                        <a href="{% url 'getdata:add-performer' %}" aria-hidden="true">Add Cast Member</a>&nbsp;
                    </li>
                    <li class="">
                        <a href="{% url 'getdata:show-add' %}" aria-hidden="true">Add Show</a>&nbsp;
                    </li>
                    <li class="">
                        <a href="{% url 'getdata:documents' %}" aria-hidden="true">Documents</a>&nbsp;
                    </li>
                    <li class="">
                        <a href="{% url 'getdata:venues' %}" aria-hidden="true">Venues</a>&nbsp;
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search" method="get" action="">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" value="">&nbsp;
                    </div>&nbsp;
                    <button type="submit" class="btn btn-default">Search</button>&nbsp;
                </form>
                <ul class="nav navbar-right">
                    <li class="">
                        <a href="{% url 'getdata:logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a>
                    </li>
                </ul>
            </div>
            {% else %}
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="{% url 'getdata:profile' %}" aria-hidden="true">View Profile</a>&nbsp;
                    </li>
                    <li class="">
                        <a href="{% url 'getdata:documents' %}" aria-hidden="true">Documents</a>&nbsp;
                    </li>
                    <li class="">
                        <a href="{% url 'getdata:venues' %}" aria-hidden="true">Venues</a>&nbsp;
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search" method="get" action="">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" value="">&nbsp;
                    </div>&nbsp;
                    <button type="submit" class="btn btn-default">Search</button>&nbsp;
                </form>
                <ul class="nav navbar-right">
                    <li class="">
                        <a href="{% url 'getdata:logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a>
                    </li>
                </ul>
            </div>
            {% endif %}
            {% else %}
            <ul class="nav navbar-right" style="margin-top: 15px;">
                <li class="" style="display:inline;">
                    <a href="{% url 'getdata:login' %}" style="display:inline;">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true" ></span> Login
                    </a>
                </li>
                <li class="" style="display:inline;">
                    <a href="{% url 'getdata:register' %}" style="display:inline;">
                        <span class="glyphicon glyphicon-user" aria-hidden="true" style="display:inline;"></span>&nbsp; Sign up
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
    </nav>
    <div style="margin-left: 2%;">
    {% if user.is_authenticated or 'user' in request.get_full_path %}
    {% block body %}
    {% endblock %}
    {% else %}
    <div style="text-align: center;">
    <h1><i>Call Time</i></h1>
    <br>
    <h2>Call Time is the best way for projects involved in a dynamic daily schedule to stay organized and communicate with their cast or team. It provides an easy access tool for members to check their daily schedule and for the schedulers to make those schedules with minimal hassle!</h2>
    <br>
    <h2><a href="{% url 'getdata:login' %}">
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Login
    </a></h2>
    </div>
    {% endif %}
    </div>
    </body>
</html>