{% extends 'base.html' %}
{% block body %}
{% if error_message %}
    <h1>{{ error_message }}</h1>
{% endif %}
{% if user.username == object.company.username %}
<h1><u>{{ object.show_id_id.title }}</u> - {{ object.date }}</h1>
{% for call in calltimes %}
{% if call.date == object.date and call.show_id_id == object.show_id_id %}
<hr>
<h2><u>{{ call.start_time }} - {{ call.end_time }}</u></h2>
<h3>{% if call.venue_id %}
{{ call.venue_id }} - {{ call.venue_id.location }}<br><br>
{% endif %}
Cast Called: <ul><br>{% for p in call.performers.all %} <li>{{ p.name }}</li>{% endfor %}</ul>
{% if call.notes %}Notes: {{ call.notes }}{% endif %}</h3><br>
{% if user.groups.all.last.name == 'Company' %}
<form style="display: inline; margin-left: 5%;" action="{% url 'getdata:call-update' call.id %}">
    {% csrf_token %}
    <input type="hidden" name="call_id" value="{{ call.id }}">&nbsp;
    <button type="submit" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-wrench"></span>
    </button>&nbsp;
</form>&nbsp;
<form style="display: inline" action="{% url 'getdata:call-delete' call.id %}">
    {% csrf_token %}
    <input type="hidden" name="call_id" value="{{ call.id }}">
    <button type="submit" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
</form>
{% endif %}
{% endif %}
{% endfor %}
{% else %}
{% for performer in object.company.performers.all %}
{% if performer.username == user.username %}
<h1><u>{{ object.show_id_id.title }}</u> - {{ object.date }}</h1>
{% for call in calltimes %}
{% if call.date == object.date and call.show_id_id == object.show_id_id %}
<hr>
<h2><u>{{ call.start_time }} - {{ call.end_time }}</u></h2>
<h3>{% if call.venue_id %}
{{ call.venue_id }} - {{ call.venue_id.location }}<br><br>
{% endif %}
Cast Called: <ul><br>{% for p in call.performers.all %} <li>{{ p.name }}</li>{% endfor %}</ul>
{% if call.notes %}Notes: {{ call.notes }}{% endif %}</h3><br>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}