{% extends 'base.html' %}
{% block body %}

<h1 style="margin-left: 10%;">Are you sure you wish to delete {% if object.name %} {{ object.name }} {% elif object.title %} {{ object.title }} {% else %} {{ object }}{% endif %}?</h1><br>
<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Confirm</button>
        </div>
    </div>
</form>
<form class="form-horizontal" action="{% url 'getdata:home' %}" method="get">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger">Deny</button>
        </div>
    </div>
</form>
{% endblock %}