
{% for field in form %}
{% if "company" in field.label_tag %}
{% for c in companies %}
{% if c.username == user.username %}
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger small">{{ field.errors }}</span>
    </div>
    <label class="control-label col-sm-2"></label>
    <input type="text" hidden="true" value="{{ c.id }}" id="{{ field.name }}" name="{{ field.name }}">
</div>
{% endif %}
{% endfor %}
{% else %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small">{{ field.errors }}</span>
        </div>
        <!-- This is terrible. Will def set myself up better in the models next time-->
        <label class="control-label col-sm-2">{% if "show_id" in field.label_tag %} Show:
            {% elif "performer_id" in field.label_tag %} Performer:
            {% elif "role_id" in field.label_tag %} Role:
            {% elif "director_id" in field.label_tag %} Director:
            {% elif "venue_id" in field.label_tag %} Venue:
            {% else %} {{ field.label_tag }} {% endif %}</label>
        <div class="col-sm-2">{{ field }}</div>
 
    </div>
{% endif %}
{% endfor %}