<html>
    <body>
        <h1>Theater Scheduler</h1>
        <form action="/getdata/home/" method="post">
            {% csrf_token %}
            <h2>Add Cast Member</h2>
            {{ form }}
            <input type="submit" value="Submit">
        </form>

        <h1>Cast</h1>
        <ul>{% for s in all_shows %}
                <h3><u><i>{{ s.title }}</i></u></h3>
                {% for role in all_roles %}
                    <li><a href="{% url 'getdata:info' role.performer_id.id %}">{{ role.performer_id.name }}</a> - {{ role.name }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </body>
</html>