{% extends 'base.html' %}
{% block body %}
{% if error_message %}
    <h1>{{ error_message }}</h1>
{% endif %}
{% for p in object.show_id.company.performers.all %}
{% if p.username == user.username %}
<h2>
    <u>Name:</u> {{ object.name }} <br><br>
    <u>Show:</u> {{ object.show_id.title }} <br><br>
    <u>Performer:</u> {{ object.performer_id.name }}
</h2>
<br>
{% endif %}
{% endfor %}
{% if object.show_id.company.username == user.username %}
<h2>
    <u>Name:</u> {{ object.name }} <br><br>
    <u>Show:</u> {{ object.show_id.title }} <br><br>
    <u>Performer:</u> {{ object.performer_id.name }}
</h2>
<br>
<form style="display: inline; margin-left: 5%;" action="{% url 'getdata:role-update' object.id %}">
    {% csrf_token %}
    <input type="hidden" name="role_id" value="{{ object.id }}">&nbsp;
    <button type="submit" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-wrench"></span>
    </button>&nbsp;
</form>&nbsp;
<form style="display: inline" action="{% url 'getdata:role-delete' object.id %}">
    {% csrf_token %}
    <input type="hidden" name="role_id" value="{{ object.id }}">
    <button type="submit" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
</form>
{% endif %}
{% endblock %}