{% extends 'base.html' %}
{% block body %}
{% if error_message %}
    <h1>{{ error_message }}</h1>
{% endif %}
<h1>ID: {{ object.id }}</h1>
<h2>
    <u>Title:</u> {{ object.title }} <br><br>
    <u>Rehearsal Start Date:</u> {{ object.rehearsal_start }} <br><br>
<u>Show Opens:</u> {{ object.show_open }}<br><br>
<u>Director:</u> {{ object.director_id.name }}
</h2>
<br>
<form style="display: inline; margin-left: 5%;" action="{% url 'getdata:show-update' object.id %}">
    {% csrf_token %}
    <input type="hidden" name="show_id" value="{{ object.id }}">&nbsp;
    <button type="submit" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-wrench"></span>
    </button>&nbsp;
</form>&nbsp;
<form style="display: inline" action="{% url 'getdata:show-delete' object.id %}">
    {% csrf_token %}
    <input type="hidden" name="show_id" value="{{ object.id }}">
    <button type="submit" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
</form>
{% if object.calltime_set.all.count > 0 %}
<h2><u>Daily Schedules</u></h2>
{% for date in object.calltime_set.all %}
{% ifchanged date.date %}
<a href="{% url 'getdata:callinfo' date.id %}">{{ date.date }}</a>,
{% endifchanged %}
{% endfor %}
{% endif %}
{% endblock %}