{% extends 'base.html' %}
{% block body %}
{% if error_message %}
    <h1>{{ error_message }}</h1>
{% endif %}
<div class="container">
<h1>Rehearsal and Performance Venues</h1><br>
</div>
<div class="indent">
{% if user.groups.all.last.name == 'Company' %}
<h3><a href="{% url 'getdata:venue-add' %}">+ Add new venue</a></h3>
<hr style="margin-right: 10%;">
{% for company in object_list %}
{% if company.username == user.username %}
{% for venue in company.rehearsalvenues_set.all %}
<h2>{{ venue.name }}</h2>
<h3>{{ venue.location }}</h3>
<br>
<form style="display: inline; margin-left: 5%;" action="{% url 'getdata:venue-update' venue.id %}">
    {% csrf_token %}
    <input type="hidden" name="venue" value="{{ venue.id }}">&nbsp;
    <button type="submit" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-wrench"></span>
    </button>&nbsp;
</form>&nbsp;
<form style="display: inline" action="{% url 'getdata:venue-delete' venue.id %}">
    {% csrf_token %}
    <input type="hidden" name="venue_id" value="{{ venue.id }}">
    <button type="submit" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
</form>
<hr style="margin-right: 10%;">
{% endfor %}
{% endif %}
{% endfor %}
{% elif user.groups.all.last.name == 'Artist' %}
<hr style="margin-right: 10%;">
{% for company in object_list %}
{% for performer in company.performers.all %}
{% if performer.username == user.username %}
<h2><u>{{ company }}</u></h2><br>
{% for venue in company.rehearsalvenues_set.all %}
<h3>{{ venue.name }}</h3>
<h4>{{ venue.location }}</h4>
<br>
{% endfor %}
<hr style="margin-right: 10%;">
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
</div>
{% endblock %}