{% extends 'base.html' %}
{% block body %}
{% if not user.is_authenticated %}
<div class="container">
    <h1>You are not signed in</h1>
    <a class="btn btn-light mb-5" href="{% url 'login' %}">Sign In</a><br>
    <a class="btn btn-info" href="{% url 'register' %}">Sign Up</a>
</div>
{% else %}
    <div class="container pl-5">
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <br>
            {% include 'form-template.html' %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <br>
{% endif %}
{% endblock %}