{% extends 'base.html' %}
{% block body %}
<br>
<br>
<div class="container">
    <h3 class="mb-5">All Products</h3>
    <div class="row">
        {% for product in products %}
            <div id="{{ product.name }}" class="col-6">
                <a href="{% url 'product' product.pk %}"><img class="mb-4" src="{{ product.photo.url }}" alt="photo of {{ product.name }}" style="height: 17vmax; width: 17vmax; object-fit: cover;"/></a>
                <p style="font-size: 2vmax;">
                    {{ product.name }}
                    <br>
                    ${{ product.price }}
                </p>
                {% if product.flavors %}
                    {% for flavor in product.flavors %}
                        <div class="flavor-option" data-color="{{ flavor.color }}"></div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
<script>
    const flavors = document.querySelectorAll(".flavor-option");

    for (flavor of flavors) {
        flavor.style.backgroundColor = flavor.data-color;
    }
</script>
{% endblock %}